<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>All Video Games</h1>
     <ul>
            <% for(let i = 0; i < vg.length; i++){ %>
                <li>
                    <a href="/videogames/<%=i%>"><%=vg[i].name; %></a> 
                    

                    <form action="/videogames/<%=i%>?_method=DELETE" method="POST">
                      <button type="submit">Delete</button>
                    </form>
                    <a href="videogames/<%=i%>/edit">edit</a>
                </li>
            <% } %>
        </ul>
    </body>
</html>